{% macro maybe_trans(key) %}
{%- if config.translations[lang][key] -%}
{{ trans(key=key, lang=lang) }}
{%- else -%}
{{ key }}
{%- endif -%}
{% endmacro %}

{% macro post_in_list(post) %}
<li>
  <div class="headline">
    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
    <time style="font-size:90%;" datetime="{{ post.date | date(format="%+") }}">
      {%- set mon = post.date | date(format="%B") -%}
      {{ post.date | date(format=trans(key="dateFormat", lang=lang)) | replace(from=mon, to=self::maybe_trans(key=mon)) }}
    </time>
  </div>
  <ul class="taglist inline">
    {% for tag in post.taxonomies.tags %}
    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</li>
{% endmacro post_in_list %}

